<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>

<header th:insert="blocks/header :: header" class="site-header sticky-top py-1"></header>

<body class="text-center text-white bg-dark">
    
    <h1 class="mt-5">Редактор</h1>

    <div th:each="el : ${post}" class="container mt-5 mb-5">
        <form method="post">
            <input type="text" name="title" placeholder="Введите название статьи" class="form-control" th:value="${el.title}">
            <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control" th:value="${el.anons}">
            <textarea name="fullText" placeholder="Введите текст статьии" class="form-control" th:text="${el.fullText}"></textarea>
            <button type="submit" class="btn btn-success mt-5">Обновить</button>
        </form>
    </div>

</body>

<footer th:insert="blocks/footer :: footer"  class="mt-auto text-white-50" > 

<style>
    .center {
      min-height: 10%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 10vh; /* These two lines are counted as one :-)       */


      display: flex;
      align-items: center;
    }

    .aaa {
        height:100%;
        width:100%;

        align-items: center;
    }
</style>

</html>